{% set boundaries = {
"Enterprise": "Enterprise_Boundary",
"Boundary": "Boundary",
"System": "System_Boundary",
}
%}

{% macro open(id) %}
{% if id %}
{% set sbb = sbbs[id] %}
{% set parent = rels.aggregations() | selectattr(0, "equalto", id) | map(attribute=1) | first %}
{{ open(parent) -}}
{{ boundaries[sbb.Type] }}({{ "_".join(id[:-1]) }}, "{{ sbb.Label }}") {
{% endif %}
{% endmacro -%}

{% macro close(id) %}
{% if id %}
{% set sbb = sbbs[id] %}
{% set parent = rels.aggregations() | selectattr(0, "equalto", id) | map(attribute=1) | first %}
}
{{ close(parent) -}}
{% endif %}
{% endmacro -%}

{% set aggregates = rels.aggregations() | map(attribute=1) | list %}
{% for id in rels.used_sbbs() | reject("in", aggregates) %}
{% set sbb = sbbs[id] %}
{% set parent = rels.aggregations() | selectattr(0, "equalto", id) | map(attribute=1) | first %}
{{ open(parent) -}}
{{ sbb.Type }}({{ "_".join(id[:-1]) }}, "{{ sbb.Label }}", $descr="{{ sbb.Description }}", $tags="{{ tags[id] }}")
{{ close(parent) }}
{% endfor %}
