{% set boundaries = {
"Enterprise": "Enterprise_Boundary",
"Boundary": "Boundary",
"System": "System_Boundary",
}
%}

{% macro open(id) %}
{% if id %}
{% set sbb = sbbs[id] %}
{{ open(sbb.Parent) -}}
{{ boundaries[sbb.Type] }}({{ "_".join(id[:-1]) }}, "{{ sbb.Label }}") {
{% endif %}
{% endmacro -%}

{% macro close(id) %}
{% if id %}
{% set sbb = sbbs[id] %}
}
{{ close(sbb.Parent) -}}
{% endif %}
{% endmacro -%}

{% for id in used %}
{% set sbb = sbbs | get_sbb(id) %}
{{ open(sbb.Parent) -}}
{{ sbb.Type }}({{ "_".join(id[:-1]) }}, "{{ sbb.Label }}", $descr="{{ sbb.Description }}", $tags="{{ tags[id] }}")
{{ close(sbb.Parent) }}
{% endfor %}
