{% set boundaries = {
"Enterprise": "Enterprise_Boundary",
"Boundary": "Boundary",
"System": "System_Boundary",
}
%}

{% macro open(id) %}
{% if id %}
{% set sbb = sbbs[aggregates[id]] %}
{% set parent = aggregations | selectattr(0, "equalto", id) | map(attribute=1) | first %}
{{ open(parent) -}}
{{ boundaries[sbb.Type] }}({{ "_".join(id) }}, "{{ sbb.Label }}") {
{% endif %}
{% endmacro -%}

{% macro close(id) %}
{% if id %}
{% set sbb = sbbs[id] %}
{% set parent = aggregations | selectattr(0, "equalto", id) | map(attribute=1) | first %}
}
{{ close(parent) -}}
{% endif %}
{% endmacro -%}

{% for k, v in elements.items() %}
{% set sbb = sbbs[v] %}
{% set parent = aggregations | selectattr(0, "equalto", k) | map(attribute=1) | first %}
{{ open(parent) -}}
{{ sbb.Type }}({{ "_".join(k) }}, "{{ sbb.Label }}", $descr="{{ sbb.Description }}", $tags="{{ sbb_tags[v] }}")
{{ close(parent) }}
{% endfor %}

{% for id in associations %}
{% set rel = relations[id] %}
Rel({{ "_".join(id[0]) }}, {{ "_".join(id[1]) }}, "{{ rel.Label }}", $techn="{{ rel[techn] }}", $tags="{{ rel_tags[id] }}")
{% endfor %}
